#burger {
    display: none;
}

.menu {
    display: none;
}

.headerDroite {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 22px;
    color: var(--brun);
    font-family: 'Mulish', sans-serif;

    font-weight: normal;

    width: 45%;
}

.selected {
    border-bottom: 2px solid var(--brun);
    pointer-events: none;
}

.headerDroite a {
    display: inline-block;
}

#headerCog {
    stroke: var(--brun);
}

.flagContainer {
    margin-top: unset;
}

.flag {
    transform: translateY(-72px);
    margin: 1px 0;
    width: 42px;
}

.flag img {
    width: 42px;
    margin: unset;
}

footer {
    position: fixed;
    bottom: 0;
}

/* MAIN */


main {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0 auto;
    justify-content: space-between;
}

main>* {
    margin: 10px auto;

    font-size: 22px;
}

h1 {
    margin-bottom: 50px;
    font-size: 32px;
}

.mail {
    margin-top: 50px;
}